@model IEnumerable<Book>


<button class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("AddBook", "Books") + "'");">Add Book</button>
<table class="table table-dark">
    <thead>
        <tr>
            <th>Title</th>
            <th>ISBN</th>
            <th>Year</th>
            <th>Author</th>
            <th>Genre</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Book book in Model)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.ISBN</td>
                <td>@book.Year</td>
                <td>@book.Author.FirstName @book.Author.LastName</td>
                <td>@book.Genre</td>
                <td>
                    <button class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("Edit", "Books", new { id = book.Id }) + "'");">Edit</button>
                    <button class="btn btn-danger" onclick="@("window.location.href='" + @Url.Action("Delete", "Books", new { id = book.Id }) + "'");">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>